@import "../../custom.scss";

.service-background {
  height: 55vh;
  background-image: url(../../assets/ServiceBG_.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.services-title {
  font-family: Merriweather, Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 2.2rem;
  text-transform: uppercase;
}
//spacing and style for span
.services-span {
  margin-left: 15px;
  color: forestgreen;
  font-weight: bold;
}
