@import "../../custom.scss";

.service-background {
  height: 55vh;
  // background-color: black;
}

.services-title {
  font-family: Merriweather, Arial, Helvetica, sans-serif;
  color: #000;
}
//spacing and style for span
.services-span {
  margin-left: 15px;
  color: forestgreen;
}
