@import "../../custom.scss";

.service-image-container,
.service-image-container div {
  margin: 0 auto;
  transform-origin: 50% 50%;
  overflow: hidden;
  width: 250px;
  height: 250px;
}
.service-image-container,
.service-image-container div {
  width: 220px;
  height: 220px;
}
.service-image-container {
  transform: rotate(45deg);
}
.service-image {
  transform: rotate(-45deg);
  background-position: center;
}

.service-description {
  text-align: center;
  font-size: 1.3rem;
  color: $success;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
