.flow-container {
  // background-color: blue;
  max-width: 500px;
  height: 100%;
  min-height: 350px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.1rem;
}

.flow-icon {
  // background-color: blueviolet;
  height: 100px;
  width: 50%;
  align-items: flex-start;
  justify-content: center;
  display: flex;
}

.flow-steps {
  // background-color: burlywood;
  margin-top: 10px;
}

.flow-description {
  // background-color: cadetblue;
  text-align: center;
  margin: 10px;
}
