.company-details-container {
  //flex rules
  display: flex;
  flex-direction: column;
}

// Company Details
.company-details {
  width: 400px;
  margin: 10px;
  padding: 10px;
}
.company-details-flex {
  //flex rules
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    padding: 0;
    margin: 10px;
    color: white;
    font-family: Merriweather, Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
  }
  i {
    color: rgb(75, 5, 57);
  }
}
.company-details-social {
  //making social media icons horizontal
  display: flex;
  cursor: pointer;
  width: 100%;
  justify-content: center;

  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    color: rgb(75, 5, 57);
    transition: 0.4s;
  }
}
.company-details-social i {
  padding-right: 5px;
}
.horizontal-line {
  border-bottom: 1px solid #fff;
  width: 98%;
}
// ===========

@media (max-width: 290px) {
  .contact-icons {
    display: none;
  }
}

//fit content for mobile
@media (max-width: 992px) {
  .company-details {
    width: fit-content;
  }
}
@media (max-width: 992px) {
  .company-details {
    width: fit-content;
  }
}
